<div class='business-data'>
    <div error-box='submitErrors' timer='6000'></div>
    <form ng-submit='submitBusiness()'>
        <table>
            <tbody>
                <tr class='business'>
                    <td>Name:</td>
                    <td>{{business.name}}</td>
                </tr>

                <tr>
                    <td>Address:</td>
                    <td>{{business.address}}</td>
                </tr>
                <tr ng-if='business.address != business.formattedAddress'>
                    <td></td>
                    <td class='formatted-suggestion'>Did you mean:
                        <a ng-click='useFormattedAddress()'>{{business.formattedAddress}}</a>?
                    </td>
                </tr>

                <tr>
                    <td>Location:</td>
                    <td>{{business.location}}</td>
                </tr>
                <tr ng-if='business.location != business.formattedLocation'>
                    <td></td>
                    <td class='formatted-suggestion'>Did you mean:
                        <a ng-click='useFormattedLocation()'>{{business.formattedLocation}}</a>?
                    </td>
                </tr>

                <tr>
                    <td>Restriction:</td>
                    <td ng-if="business.restriction_type == 'full'">Full ban</td>
                    <td ng-if="business.restriction_type == 'specific'">Specific restriction</td>
                </tr>
                <tr ng-if="business.notes">
                    <td>Notes:</td>
                    <td>{{business.notes}}</td>
                </tr>

                <tr ng-if='business.links.website'>
                    <td>Website:</td>
                    <td><a href='http://{{business.links.website}}'>{{business.links.website}}</a></td>
                </tr>
                <tr ng-if='business.links.yelp'>
                    <td>Yelp:</td>
                    <td><a href='http://{{business.links.yelp}}'>{{business.links.yelp}}</a></td>
                </tr>
                <tr ng-if='business.links.facebook'>
                    <td>Facebook:</td>
                    <td><a href='http://{{business.links.facebook}}'>{{business.links.facebook}}</a></td>
                </tr>
                <tr ng-if='business.links.twitter'>
                    <td>Twitter:</td>
                    <td><a href='http://{{business.links.twitter}}'>{{business.links.twitter}}</a></td>
                </tr>
            </tbody>
        </table>
        <p>
            Something wrong?
            <a ui-sref='add-business.page-1'>Update data.</a>
        </p>
        <button class='button medium success' type='submit' ng-disabled='!geocodeXHRfinished'>Save Business</button>
    </form>
</div>

<div class='location-preview'>
    <h2>Location wrong?  Drag the marker to correct.</h2>
    <div id='minimap'></div>
</div>
