<div class='add-location-form'>
    <form ng-submit='nextPage()' name='addLocationForm'>
        <div class='large-6 columns'>
            <label for='name' class='required'>Name *</label>
            <input type='text' id='name' ng-model='business.name' placeholder='Deglassified Inc.' required>

            <label for='website'>Website</label>
            <input type='text' id='website' ng-model='business.links.website' placeholder='www.example.com'>

            <label for='yelp'>Yelp</label>
            <input type='text' id='yelp' ng-model='business.links.yelp' placeholder='yelp.com/biz/example-business'>

            <label for='facebook'>Facebook</label>
            <input type='text' id='facebook' ng-model='business.links.facebook' placeholder='facebook.com/business-page'>

            <label for='twitter'>Twitter</label>
            <input type='text' id='twitter' ng-model='business.links.twitter' placeholder='twitter.com/business'>
        </div>

        <div class='large-6 columns'>
            <label for='name' class='required'>Location *</label>
            <input type='hidden' ui-select2='select2Options' ng-model='business.city' required data-placeholder='Choose a location'>

            <label for='address' class='required'>Address *</label>
            <input type='text' id='address' ng-model='business.address' placeholder='12345 Fake Street' required>
            <button class='button medium success' type='submit' ng-disabled='addLocationForm.$invalid'>Find Business on Map</button>
            <p>* Required fields</p>
        </div>
    </form>
</div>
