<p class='login-required'>To add your local Glass-free businesses (and to reduce spam), you&rsquo;ll need to sign in first.</p>

<div class='sign-in-form'>
    <form ng-submit="signIn()" name="signInForm">
        <fieldset>
            <legend>Sign In</legend>
            <alert type='danger' ng-show='showSignInError'>
                There was an error with your sign in.  Please try again.
            </alert>
            <label for='email'>Email</label>
            <input type='email' id='email' name='email' ng-model='user.email' placeholder='you@example.com'>
            <label for='password'>Password</label>
            <input type='password' id='password' name='password' ng-model='user.password'>
            <button class='button medium' type='submit'>Sign In</button>
            <a class='forgot-password'>Forgot password?</a>
        </fieldset>
    </form>
</div>

<div class='sign-in-or'>
    <h4 class='text-center'>or</h4>
</div>

<div class='create-account-form'>
    <form>
        <fieldset>
            <legend>Don't Have An Account? Create One!</legend>
            <p>We&rsquo;ll never share your information and we promise not to send you spam.</p>
            <label for='email'>Email</label>
            <input id='email' name='email' placeholder='you@example.com' type='text'>
            <label for='password'>Password</label>
            <input id='password' name='password' type='password'>
            <label for='verify_password'>Verify Password</label>
            <input id='verify_password' name='verify_password' type='password'>
            <button class='button medium success' type='submit'>Create Your Account</button>
        </fieldset>
    </form>
</div>
<a class='close-reveal-modal' ng-click="$close()">&#215;</a>