<div class='login-register-page'>
    <p class='login-required'>To add your local Glass-free businesses (and to reduce spam), you&rsquo;ll need to sign in first.</p>

    <div class='sign-in-form'>
        <form ng-submit="signIn()">
            <fieldset>
                <legend>Sign In</legend>

                <label for='email'>Email</label>
                <input type='email' id='email' name='email' ng-model='loginForm.email' placeholder='you@example.com'>
                <label for='password'>Password</label>
                <input type='password' id='password' name='password' ng-model='loginForm.password'>

                <div error-box='loginErrors'></div>

                <button class='button medium' type='submit'>Sign In</button>
                <a class='forgot-password'>Forgot password?</a>
            </fieldset>
        </form>
    </div>

    <div class='sign-in-or'>
        <h4 class='text-center'>or</h4>
    </div>

    <div class='create-account-form'>
        <form ng-submit='register()'>
            <fieldset>
                <legend>Don't Have An Account? Create One!</legend>
                <p>We&rsquo;ll never share your information and we promise not to send you spam.</p>
                <label for='email'>Email</label>
                <input type='email' id='email' ng-model='registration.email' placeholder='you@example.com' >
                <label for='password'>Password</label>
                <input type='password' id='password' ng-model='registration.password'>
                <label for='password-confirmation'>Verify Password</label>
                <input type='password' id='password-confirmation' ng-model='registration.passwordConfirmation'>

                <div error-box='registrationErrors'></div>

                <button class='button medium success' type='submit'>Create Your Account</button>
            </fieldset>
        </form>
    </div>
    <a class='close-reveal-modal' ng-click="$close()">&#215;</a>
</div>
