/*
 *= require_self
 *= require mapbox
 *= require foundation.min
 *= require angular-animations
 *= require foundation-icons
 *= require_tree .
 */

@import "foundation_and_overrides";

body, html, .fill-height {
  height: 100%;
}

// TODO: Find a way to not hardcode this
.reveal-modal {
    top: 1.5rem !important;
    // Mapbox's zoom button is z-index 999, so need modal to be above it
    z-index: 1000 !important;
}

#sidebar {
  @extend .large-4;
  @extend .columns;
  @extend .fill-height;

  .add-location {
    @extend .button;
    @extend .radius;

    width: 100%;

    i {
      font-size: 30px;
      line-height: 30px;
      float: left;
    }

    span {
      display: block;
      line-height: 30px;
    }
  }

  #business-listing {
    @extend .large-12;
    @extend .columns;
  }
}

#main-modal {
    .signed-in-message {
        @extend .large-10;
        @extend .columns;
        .user-email {
            font-style: italic;
            font-weight: bold;
        }

    }
    .sign-out-button {
        @extend .large-2;
        @extend .columns;
        @extend .text-center;
        button {
            @extend .button;
            @extend .tiny;
        }
    }
    .sign-in-error {

    }
    .add-location-form {
        @extend .large-6;
        @extend .columns;

        .small {
          font-size: 0.9em;
          color: #666;
        }
    }
    .location-preview {
        @extend .large-6;
        @extend .columns;
        @extend .fill-height;
        height: 350px;
    }

    .coord-column {
        @extend .large-6;
        @extend .columns;
        input {
            @extend .small-7;
            @extend .columns;
            padding-left: 10px !important;
        }
        .prefix {
            @extend .small-5;
            @extend .columns;
        }
    }

    #minimap {
        @extend .large-12;
        @extend .columns;
        @extend .fill-height;
    }
}

#map {
  @extend .large-8;
  @extend .columns;
  @extend .fill-height;
}

.login-required {
  @extend .alert-box;
  @extend .info;

  font-size: 1.2em;
}

.sign-in-form {
  @extend .large-4;
  @extend .columns;

  padding: 0;

  .forgot-password {
    margin-left: 20px;
  }
}

.sign-in-or {
  @extend .large-1;
  @extend .columns;

  padding-top: 2em;
}

.create-account-form {
  @extend .large-7;
  @extend .columns;

  padding: 0;
}

.contact {
  padding-top: 3em;
  display: block;
  text-align: center;

  a {
    color: #222;

    i {
      font-size: 2em;
      vertical-align: middle;
    }

    &:hover {
      color: #008cba;
    }
  }
}

.legal {
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #999;
}

#location-listing {
  @extend .inline-list;
}
