/*
= require_self
 *= require mapbox
 *= require foundation.min
 *= require angular-error-box-foundationless.min
 *= require foundation-icons
 *= require select2
 *= require ladda-themeless.min
 *= require_tree .
 */

@import "foundation_and_overrides";

body, html, .fill-height {
    height: 100%;
}


/********************
    Sidebar
********************/
#sidebar {
    @extend .large-4;
    @extend .columns;
    @extend .fill-height;

    overflow: auto;

    .main-modal-button {
        @extend .button;
        @extend .radius;

        width: 100%;

        i {
            font-size: 30px;
            line-height: 30px;
            float: left;
        }

        span {
            display: block;
            line-height: 30px;
        }
    }

    #business-listing {
        @extend .large-12;
        @extend .columns;
    }

    #location-listing {
        @extend .inline-list;
    }


    .contact {
        padding-top: 3em;
        display: block;
        text-align: center;
        a {
            color: #222;
            i {
                font-size: 2em;
                vertical-align: middle;
            }
            &:hover {
                color: #008cba;
            }
        }
    }

    .legal {
        margin-top: 1em;
        text-align: center;
        font-size: 0.8em;
        color: #999;
    }

}


/********************
    Main Modal
********************/
#mainModal {
    
    // Adjust the modal padding to give more space for content
    padding: 1.5rem !important;
    top: 1.5rem !important;
    // Adjust the padding for the 'x' close icon as well
    .close-reveal-modal {
        top: 0.1rem !important;
    }

    // Mapbox's zoom button is z-index 999, so need modal to be above it
    z-index: 1000 !important;


    /*****************************
        Login / Register Page
     *****************************/

    .login-register-page {
        .login-required {
            @extend .alert-box;
            @extend .info;

            font-size: 1.2em;
        }

        .sign-in-form {
            @extend .large-4;
            @extend .columns;

            padding: 0;

            .forgot-password {
                margin-left: 20px;
            }
        }

        .sign-in-or {
            @extend .large-1;
            @extend .columns;
            padding-top: 2em;
        }

        .create-account-form {
            @extend .large-7;
            @extend .columns;
            padding: 0;
        }
    }

    /*****************************
        Add Business State
     *****************************/
    #add-business {

        .signed-in-message {
            @extend .large-10;
            @extend .columns;
            p {
                margin-bottom: 0px;
            }
            .user-email {
                font-style: italic;
                font-weight: bold;
            }
        }
        .sign-out-button {
            @extend .large-2;
            @extend .columns;
            @extend .text-center;
            button {
                @extend .button;
                @extend .tiny;
                margin-bottom: 10px;
            }
        }
        .wizard-state {
            @extend .small-12;
            @extend .columns;
            margin-bottom: 15px;
            a {
                color: lightgrey;
                margin-left: 10px;
                &.active {
                    color: black;
                }
                &:hover {
                    color: grey;
                }
            }
        }

        /*****************************
            Add Business Page 1
         *****************************/
        .add-location-form {
            .select2-container {
                width: 100% !important;
                margin-bottom: 1rem;
                a {
                    border-radius: 0;
                }
                .select2-arrow {
                    border-radius: 0;
                }
            }
            .required {
                font-weight: bold;
            }
            i {
                font-size: 20px;
            }
            button {
                width: 100%;
            }
        }
        .small {
            font-size: 0.9em;
            color: #666;
            margin-bottom:0;
        }
        .location-preview {
            @extend .large-6;
            @extend .columns;
            h2 {
                font-size: 16px;
            }
        }

        /*****************************
            Add Business Page 2
         *****************************/
        .business-data {
            @extend .large-6;
            @extend .columns;
            table {
                width: 100%;
            }
            .formatted-suggestion {
                font-size: 0.8rem;
                margin-bottom: 15px;
                a {
                    text-decoration: underline;
                    font-style: italic;
                }
            }
            .business {
                font-weight: bold !important;
            }
            button {
                width: 100%;
            }
        }
        .coord-column {
            @extend .large-6;
            @extend .columns;
            padding: 0;
            input, .prefix {
                height: 1.5rem;
                line-height: 1.5rem;
            }
            input {
                @extend .small-7;
                @extend .columns;
                padding-left: 10px !important;
            }
            .prefix {
                @extend .small-5;
                @extend .columns;
            }
        }

        #minimap {
            @extend .small-12;
            @extend .columns;
            height: 400px !important;
        }

        #map-buttons {
            @extend .small-12;
            @extend .columns;
            padding: 0;
            button {
                /*@extend .small-5;*/
                /*@extend .columns;*/
            }
        }    
    }

    /*****************************
        Change Location Modal State
     *****************************/
    #change-location {
        table {
            width: 50%;
            border: 0px;
            tr {
                padding: 20px;
            }
        }
    }

}

/*****************************
    Mapbox Map Styles
 *****************************/
#map {
    @extend .large-8;
    @extend .columns;
    @extend .fill-height;
}

.leaflet-popup-content {
    h4 {
        font-size: 20px !important;
        font-weight: bold;
    }   
    hr {
        margin: 0 0 0.2rem 0;
    }
    .full-ban {
        font-weight: bold;
        color: #E90000;
    }
    .specific-restriction {
        font-weight: bold;
        color: #FF6600;
    }
}

// This container is only used for the .innerHTML property, when added the legend to
// map.legendControl
#restriction-legend {
    display: none;
}

// Styling for the actually used legend for restriction marker colors
.map-legend {
    ul {
        font-size: 12px;
        margin: 0;
        list-style: none; 
        li {
            span.red, span.orange {
                float: left;
                margin-right: 5px;
                width: 30px;
                height: 16px;
            }
            span.red {
                background-color: red;
            } 
            span.orange {
                background-color: orange;
            } 
        } 
    }
}
