//= require mapbox.js

angular.module('service.mini-map', [])

.service('miniMapService', function($rootScope) {
    var mapElement = 'minimap',
        map,
        marker;

    function showBusiness(business) {
        if (document.getElementById(mapElement)) {
            // I really do not know what race conditions are causing the need for this delay
            setTimeout(function(){
                initMap(business);
                createNewMarker(business);
            }, 1000);
        }
    }

    function initMap(business) {
        var defaultView = [business.coords.lat, business.coords.lng],
            defaultZoom = 15;
        map = L.mapbox.map(mapElement, '<%= Deglassified::Application.config.mapbox_map_id %>').setView(defaultView, defaultZoom);
    }

    function createNewMarker(business) {
        clearMarker();
        marker = L.marker(
            [business.coords.lat, business.coords.lng],
            {
                draggable:true
            }
        );
        marker.addTo(map);
        bindMarkerPopup(business);
        marker.on('dragend', handleMarkerDrag);
        marker.openPopup();
    }

    function bindMarkerPopup(business) {
        var content  = "<h4>" + business.name + "</h4>" +
            "<hr>" +
            "<p>" + business.address + "</p>";

        if (business.restriction_type === 'full') {
            content += "<p class='full-ban'>" +
                "<i class='fi-prohibited'></i> full ban</p>";
        } else if (business.restriction_type === 'specific') {
            content += "<p class='specific-restriction'>" +
                "<i class='fi-prohibited'></i> specific restriction</p>";
        }

        if (business.notes) {
            content += "<p><i class='fi-clipboard-pencil'></i> " + business.notes + "</p>";
        }

        if (business.links) {
            content += '<p>';
            if (business.links.website)
                content += "<a href='" + business.links.website + "' target='_blank'><i class='fi-link'></i> website</a><br>";
            if (business.links.facebook)
                content += "<a href='" + business.links.facebook + "' target='_blank'><i class='fi-social-facebook'></i> facebook</a><br>";
            if (business.links.twitter)
                content += "<a href='" + business.links.twitter + "' target='_blank'><i class='fi-social-twitter'></i> twitter</a><br>";
            if (business.links.yelp)
                content += "<a href='" + business.links.yelp + "' target='_blank'><i class='fi-social-yelp'></i> yelp</a><br>";
            content += '</p>';
        }

        marker.bindPopup(content);
    }

    function clearMarker() {
        if (marker) {
            map.removeLayer(marker);
        }
    }

    function handleMarkerDrag(event) {
        var coords = event.target.getLatLng();
        $rootScope.$broadcast('locationCoordsChange', coords);
        marker.openPopup();
        panMapTo(coords);
    }
    
    function panMapTo(coords) {
        map.panTo([coords.lat, coords.lng]);
    }

    return {
        initMap: initMap,
        showBusiness: showBusiness,
        createNewMarker: createNewMarker 
    };
})

;
