%h3
  %span#current-city {{current_city}}
  Businesses
  %small
    %a.change-location{ 'data-reveal-id' => 'change-location-modal' } change location

#change-location-modal.reveal-modal{'data-reveal' => true}
  %h2 Change Location
  %p.lead Here are the cities we&rsquo;ve got data on.
  %ul{'ng-repeat' => 'location in locations'}
    %li
      %a{'ng-click' => 'loadLocation(location)'} {{location.city}}, {{location.state}}
  %a.close-reveal-modal &#215;

%table#business-listing
  %tbody
    %tr{'ng-repeat' => 'business in businesses'}
      %td
        %a{'ng-click' => 'showBusiness(business)'} {{business.name}}

