!!!
%html{'ng-app' => 'deglassified'}
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1.0' }
    %title(ng-bind-template='{{pageTitle}} - Deglassified')
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
  %body

    #sidebar(ng-controller='sideBarCtrl')
      %h1
        %a(href='/') Deglassified
      %hr
      %p.lead Cataloguing businesses that value your privacy.

      %a.add-location-button(ng-click='openLoginSignupModal()')
        %i.fi-share
        %span Share Your Local Glass-Free Businesses

      %div(ui-view)

      -#%div.row
      -#  %form.sign-in-form.medium-12(ng-switch on='signedIn')
      -#    %fieldset
      -#      %legend(ng-switch-when='false') Sign In
      -#      %legend(ng-switch-when='true') Sign Out
      -#      %input(type='email' ng-model='user.email' placeholder='Email')
      -#      %input(type='password' ng-model='user.password' placeholder='Password')
      -#      %button.button.tiny(ng-switch-when='false') Sign In
      -#      %button.button.tiny(ng-switch-when='true') Sign Out

      .contact
        %a(href='http://twitter.com/Deglassified' target='_blank')
          %i.fi-social-twitter
          Contact Us
      .legal
        Google Glass&trade; is a trademark of Google Inc.

    #map

    = javascript_include_tag 'app'
