!!!
%html{'ng-app' => 'deglassified'}
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content:'width=device-width, initial-scale=1.0' }
    %title(ng-bind-template='{{pageTitle}} - Deglassified')
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tags
  %body

    #sidebar(ng-controller='sideBarCtrl')
      %h1
        %a(href='/') Deglassified
      %hr
      %p.lead Cataloguing businesses with policies against Google Glass.

      %a.main-modal-button(ui-sref='login')
        %i.fi-share
        %span Share Your Local Glass-Free Businesses

      %div(ui-view)

      .contact
        %a(href='http://twitter.com/Deglassified' target='_blank')
          %i.fi-social-twitter
          Contact Us
      .legal
        Google Glass&trade; is a trademark of Google Inc.

    #map

    #mainModal.reveal-modal(data-reveal)
      %div(ui-view='mainModal')
      %a.close-reveal-modal &#215;

    = javascript_include_tag 'application'
